.CoordConvert {
  margin-top: 20px;
  max-width: 640px;
  font-family: 'Segoe UI', Roboto, Tahoma, Geneva, Verdana, sans-serif;
  background-color: aqua;
  font-size: 16px;
  display: block;
  zoom: 100%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 4px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 20px;
  display: inline-block;
}

button {
  margin: auto;
}
.button-row {
  margin: 14px;
}
.horizontal-stack {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.col-25 {
  flex: 1;
  float: left;
  width: 15%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.flex-child {
  flex: 1;
}
.flex-child:first-child {
  margin-right: 20px;
}
